# Symfony directories
/var/
/vendor/
/.phpunit.cache/
.phpunit.result.cache

# Environment files
.env.local
.env.dev
.env.test

# IDE files
.idea/
*.iml

# OS junk
.DS_Store
Thumbs.db

# Bind mount for MYSQL files from compose.yaml
mysql